<div ng-if="vm.doorsStatus === vm.greenLightValue"> 
	<h1 class="text">Зеленый - иди!</h1>
	<img class="pic" src="pics/GREEN.jpg" />
</div>

<div ng-if="vm.doorsStatus === vm.redLightValue"> 
	<h1 class="text">Красный - стой!</h1>
	<img class="pic" src="pics/RED.jpg" />
</div>

<div ng-if="vm.doorsStatus === vm.yellowLightValue"> 
	<h1 class="text">Желтый - думай!</h1>
	<img class="pic" src="pics/yellow.jpg" />
</div>