<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Toilet online queue</title>
  <link rel="icon" ng-href="{{iconHref}}" type="image/x-icon" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dist/css/style.min.css">
</head>
<body>

  <center>  
   <traffic-light-directive />
 </center>  

 <script src="/dist/js/toilet-line-0.0.1.min.js"></script>
</body>
</html>
